absl-py==2.2.2
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.9.0
astunparse==1.6.3
audioread==3.0.1
cachetools==5.5.2
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
cloudpickle==3.1.1
contourpy==1.3.0
crepe==0.0.16
cycler==0.12.1
decorator==5.2.1
demucs==4.0.1
dora_search==0.1.12
einops==0.8.1
exceptiongroup==1.2.2
fastapi==0.115.12
filelock==3.18.0
flatbuffers==25.2.10
fonttools==4.57.0
fsspec==2025.3.2
gast==0.4.0
google-auth==2.39.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.71.0
h11==0.14.0
h5py==3.13.0
hmmlearn==0.3.3
idna==3.10
imageio==2.37.0
importlib_metadata==8.6.1
importlib_resources==6.5.2
jax==0.4.30
jaxlib==0.4.30
Jinja2==3.1.6
joblib==1.4.2
julius==0.2.7
keras==2.12.0
kiwisolver==1.4.7
lameenc==1.8.1
lazy_loader==0.4
libclang==18.1.1
librosa==0.11.0
llvmlite==0.43.0
Markdown==3.8
MarkupSafe==3.0.2
matplotlib==3.9.4
ml_dtypes==0.5.1
mpmath==1.3.0
msgpack==1.1.0
networkx==3.2.1
numba==0.60.0
numpy==1.23.5
oauthlib==3.2.2
omegaconf==2.3.0
openunmix==1.3.0
opt_einsum==3.4.0
packaging==24.2
pillow==11.2.1
platformdirs==4.3.7
pooch==1.8.2
protobuf==4.25.6
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pydantic==2.11.3
pydantic_core==2.33.1
pyparsing==3.2.3
python-dateutil==2.9.0.post0
python-multipart==0.0.20
PyYAML==6.0.2
requests==2.32.3
requests-oauthlib==2.0.0
resampy==0.4.3
retrying==1.3.4
rsa==4.9
scikit-learn==1.6.1
scipy==1.13.1
six==1.17.0
sniffio==1.3.1
soundfile==0.13.1
soxr==0.5.0.post1
starlette==0.46.2
submitit==1.5.2
sympy==1.13.1
tensorboard==2.12.3
tensorboard-data-server==0.7.2
tensorflow-estimator==2.12.0
tensorflow-macos==2.12.0; platform_system == "Darwin"
tensorflow==2.12.0; platform_system == "Windows"
termcolor==3.0.1
threadpoolctl==3.6.0
torch==2.6.0
torchaudio==2.6.0
tqdm==4.67.1
treetable==0.2.5
typing-inspection==0.4.0
typing_extensions==4.13.2
urllib3==2.4.0
uvicorn==0.34.1
Werkzeug==3.1.3
wrapt==1.14.1
zipp==3.21.0
